<ion-header>
  <ion-toolbar>
    <ion-title>add-sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title">Add Today's Sale</div>
    <app-input postion="floating" label="Sale"></app-input>
    <app-select label="Distributors" placeHolder="Select distributor" [options]="distributors"></app-select>
    <app-input postion="floating" label="Credits Amount"></app-input>

    <app-select label="Customers" placeHolder="Select customer" [options]="customers"></app-select>
    <app-input postion="floating" label="Customer's Borrows Amount"></app-input>

    <app-select label="Expenses" placeHolder="Select expenses" [options]="expenses"></app-select>
    <app-input postion="floating" label="Expenses Amount"></app-input>
  </div>
</ion-content>
