<ion-header>
  <ion-toolbar>
    <ion-title>add-sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Add Today's Sale</ion-label>
    </ion-list-header>
    <app-input postion="floating" label="Sale"></app-input>
    <app-input postion="floating" label="Credits"></app-input>
    <app-input postion="floating" label="Customer's Borrows"></app-input>
    <app-input postion="floating" label="Expenses"></app-input>
  </ion-list>
</ion-content>
