<ion-header>
  <ion-toolbar>
    <ion-title>add-sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title">Add Today's Sale</div>
    <app-input postion="floating" label="Sale"></app-input>
    <app-input postion="floating" label="Credits"></app-input>
    <app-input postion="floating" label="Customer's Borrows"></app-input>
    <app-select label="Expenses" placeHolder="Select expenses" [options]="expenses"></app-select>
    <app-input postion="floating" label="Expenses Amount"></app-input>
  </div>
</ion-content>
